@import '../../Asset/css/constant.scss';

.nav {
  padding: 0 20px;
  height: 72px;
  line-height:72px;

  background-color: $color-main ;
  color: #ffffff;

  .nav-lang-switcher{
    float: right;
    margin-right: 30px;

    .ant-radio-button-wrapper{
      padding: 0 10px;
    }
  }
  .nav-user{
    float: right;

    >img{
      display: inline-block;
      height: 32px;
      width: 32px;

      margin-right: 15px;
      border-radius: 16px;
      background-color: #ffc017;
    }

    .nav-user-name{
      color: #ffffff;
      opacity: 0.65;
    }
  }
}