@import '../../Asset/css/constant.scss';

.family-nav {
  height: 110px;
  line-height:110px;

  background-color: $color-main ;



  overflow: hidden;

  .family-nav-content{

    width: $width-content;
    height: inherit;

    background-image: url('../../Asset/img/logo.png') ;
    background-repeat: no-repeat ;
    background-position: 0 50%;
    background-size: 80px;
    margin: 0 auto;

    .family-nav-user{
      float: right;

      >img{
        display: inline-block;
        height: 32px;
        width: 32px;

        margin-right: 15px;
        border-radius: 16px;
        background-color: #ffc017;
      }

      .nav-user-name{
        color: #ffffff;
        opacity: 0.65;
      }
    }
    .family-nav-menu{
      display: inline-block;
      float: right;

      span{
        padding: 0 25px;

        a {
          color: white;
          font-size: $fs-sub-title;
        }
      }
    }
  }

}