@import '../../Asset/css/constant.scss';

.family-footer {
  padding: 1px;
  background-color: $color-main ;
  color: #ffffff;

  .family-footer-content {
    width: $width-content;
    height: inherit;
    margin: 30px auto;

    line-height: 90px;

    hr {
      height: 1px;
      border: none;
      background: $color-vice;
    }

    .family-footer-menu{
      display: inline-block;

      span{
        padding: 0 25px;

        &:nth-child(1) {
          padding-left: 0;
        }
        a {
          color: white;
          font-size: $fs-sub-title;
        }
      }
    }
  }
}