.family-pic-pic {
  width: 100%;
  height: 200px;
  background-size: 100% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.family-album-pic {
  width: 100%;
  height: 270px;
  background-size: 100% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.family-album-meta{
  height: 7em;
}