//主色调
$color-main: #653fb3;
$color-vice: #8566bc;
$color-primary:#61b0e9;

//主字号
$fs-common: 12px;
$fs-title: 28px;
$fs-sub-title: 16px;

//主字色
$fc-main: #653fb3;
$fc-emp: #3c3c3c;
$fc-low: #8d8d8d;
$fc-highlight: #fa4381;

//主尺寸
$width-content: 1150px;