//主色调
$color-main: #06b3a0;
$color-vice: #53bcb8;
$color-primary:#61b0e9;

//主字号
$fs-common: 12px;
$fs-title: 28px;
$fs-min-title: 24px;
$fs-sub-title: 16px;

//主字色
$fc-main: #06b3a0;
$fc-emp: #3c3c3c;
$fc-low: #8d8d8d;
$fc-highlight: #fa4381;

//主尺寸
$width-content: 1150px;