@import "constant.scss";

*{
  font-size: 12px;
  font-family: 'Microsoft YaHei',SimHei,Arial,SimSun;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
}

body{
  color: #333;
  background-color: #f8f8f8!important;
}

h1,h2,h3,h4,h5,h6{
  margin: 10px 0;
}
h1{
  font-size: 36px;
}
h4{
  font-size: 17px;
}

ul,p,li{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}


.page-layout{
  position: relative;
  min-width: $width-content;
  .content{
    margin: 0 auto;

    //达成居中定宽
    .family-body-content{
      margin: 0 auto;
      width: $width-content;
    }
    .family-body-padding{
      padding: 50px 0 90px 0;
    }
  }
}

.clear-fix:after{
  display: table;
  content: '';
  clear: both;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

// 富文本组件
.ql-toolbar {
  line-height: 24px;
}