@import '../../../Asset/css/constant.scss';
.main-menu{
  margin: 0 300px 0 170px;
  overflow: hidden;

  >li{
    float: left;
    cursor: pointer;

    >.main-menu-li-text{
      display: inline-block;
      position: relative;

      margin: 0 20px;
      height: 72px;
      line-height: 64px;
      border-top: 4px solid $color-main;
      border-bottom: 4px solid $color-main;

      font-size: 14px;
      -webkit-font-smoothing: antialiased;

      opacity: 0.65;

      >i{
        margin-left: 5px;
        transform: scale(0.9);
      }

      >a{
        color: #ffffff;
        font-size: 14px;
      }

      &:after{
        display: none;
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        left: 50%;
        bottom: -4px;

        margin-left: -10px;

        border: 10px solid transparent;
        border-bottom: 10px solid white;
      }
    }

    >.sub-menu{
      display: none;

      position: absolute;
      left: 0;
      width: 100%;
      z-index: 9;

      background-color: white;
      box-shadow: 0 5px 15px #e6e6e6;
      line-height: 60px;
      text-align: center;
      opacity: 0.9;

      >a{
        font-size: 14px;
        color: #595959;
        padding: 0 20px;
        opacity: 0.7;

        &:hover{
          color: #108ee9;
        }
      }
    }

    &:hover{

      >.main-menu-li-text{
        border-top-color: white;
        font-weight: 800;
        opacity: 1;

        &.main-menu-li-text-tri{
          &:after{
            display: block;
          }
        }
      }

      .sub-menu{
        display: block;
      }

    }
  }
}